
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Itim', sans-serif;
    
}
body{
    background-color: white;
    overflow: hidden;
    scroll-behavior: smooth;
    
}
.container{
    overflow: hidden;
}
.navbar{
        display: none;
}


.nav{
    display: inline-block;
    background-color: rgba(2, 1, 1, 0.9);
    height: 100vh;
    width: 19%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .7s;
} 

.navbar a{
    text-decoration: none;
    margin: 7px;
    font-size: 25px;
    padding: 30px 10px;
    color: rgb(230, 77, 17);
    transition: .6s;
}
  

.navbar a:hover{
    transform: translateX(10px);
} 


#menubar{
    
    height: 50px;
    width: 50px;
    position: fixed;
    top: 8px;
    right: 12px;
    z-index: 7;
}

#menubar img{
    width: 55px;
    height: 55px;
}
.wrap1{
    height: 100vh;
    display: grid;
    

    grid-template-columns: 65% 35%;
    background-size: cover;
    background-position: center;
}

.intro{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

.intro::before 
{
  content: '';
  position: absolute;
  left:0%;
  width: 100%;
  height:70% ;
  background: linear-gradient(70deg,transparent 0%,white 0%,white 100%);
  z-index:1;
 animation: animate 2.5s linear forwards ;
}
  @keyframes animate
  {
    0% 
    {
      left:0%;
    }
    100% {
      
      left:100%;
    }
  }

#h1-intro{
    letter-spacing: 6px;
    line-height: 50px;
    color: black;
}

span{
    color: rgb(214, 49, 3);
}

#p-intro{
    background-color: rgb(233, 71, 13);
    text-align: center;
    width:54%;
}
#p2{
    color:black;
}

#wrap-image{
    
    background-image: url("damzz.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(40deg);
   margin-top: 178px;
   margin-left: 0;
   z-index: 2;
}



#my-projects{
    
    background-color: rgb(253, 249, 249);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#my-projects h2{
    width:190px;
    margin-bottom: 30px;
    margin-top: 30px;
    
    font-size: 30px;
    text-align: center;
    

}
#my-projects h3,p {

    color :black;
} 
span{
    color: coral;
}
.wrapper{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.project img {
    margin: 10px;
    width: 300px;
    height: 300px;
   transition: all 0.7s;
    
}
.project img:hover{
    transform: scale(0.9);
} 
.project button{
    padding: 3px 14px;
    margin-bottom:  20px;
    margin-top:10px;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    color: coral;
    transition: all .3s;
    
}
.project button:hover{
    
    color:white;
}   
/*footer{
    display: none;
    
}*/
footer{
    
    background-color:rgb(26, 25, 25);
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer p{
    padding-top: 20px;
    color:white;
    text-align: center;
    
}
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    text-align: center;
    width: 20px;
    height: 20px;
    transition: all .7s;
}
footer img:hover{
    transform: scale(1.4);
}

footer a{
    padding: 10px;
}

@media all and (max-width:900px)
 {


    body{
        overflow: visible;
        
    }
    .nav{
        width: 100%;
    }
    #wrap-image{
        display: none;
    }
    .wrap1{
        width: 100%;
        display:grid;
        grid-template-columns: 100%;
        
    }
    .intro h2, p{
        width: 100%;
    }

    .intro{
        overflow: hidden;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #wrap-image{
        display:none;
    }

    #my-projects{
    
    background-color: rgb(253, 249, 249);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
}
    
    footer{
    
        background-color:rgb(26, 25, 25);
        height: 150px;
        width: 100%;
    
        
        
    }
    
    
 }
